{% extends '@Calendar/calendar/base.html.twig' %}

{% block calendar_title %}Calendrier - {{ current_date|date('F Y') }}{% endblock %}

{% block calendar_body %}
<div class="container py-5" data-controller="calendar">
    <div class="row mb-4">
        <div class="col">
            <h1 class="mb-4">Calendrier</h1>
        </div>
    </div>

    {% include '@Calendar/calendar/_calendar_frame.html.twig' %}
</div>

{# Turbo Frame pour le modal (formulaires) #}
<turbo-frame id="event-modal"></turbo-frame>
{% endblock %}
